<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Mitr:wght@200;400&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>

<!-- Navigation Bar -->
<div class="navbar">
    <div class="container">
        <ul>
            <div class="logo">
                <li><a href="/">Disaster Response</a></li>
            </div>
            <li><a href="/about">About the Project</a></li>
        </ul>
    </div>
</div>

<main>
<!-- Classify new messages -->
<div class="about">
    <h1>About the project</h1>
    <div class="container">
            <p>As part of the 
                <a href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity Data Scientist Nanodegree Program</a>, 
                this multioutput classification project aims to analyze and 
                classify messages to improve communication during disasters, using data provided by <a href="https://appen.com/">Appen</a> (formally Figure 8) 
                containing real messages sent during disaster events.</p>
            
            <p>This project contains a <a href="#">GitHub repository</a> that shows all the steps for building this web application.</p>
    </div>
</div>





</main>

<!-- Footer -->
<footer >
    <div class="container">
        <div class="footer-box">
            <ul>
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/pcmaldonado/Disaster_Response">GitHub Repository</a></li>
            </ul>
        </div>
    </div>
</footer>


</body>
</html>




