<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Mitr:wght@200;400&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>

<!-- Navigation Bar -->
<div class="navbar">
    <div class="container">
        <ul>
            <div class="logo">
                <li><a href="/">Disaster Response</a></li>
            </div>
            <li><a href="/about">About the Project</a></li>
        </ul>
    </div>
</div>

<main>
<!-- Classify new messages -->
<div class="container">
    <h1 class="text-center">MESSAGE</h4>
    <h3 class="text-center"><i>" {{query}} "</i></p>
</div>

<!-- Results -->
<div class="results">
    <div class="container">
        
        <h1 class="text-center">RESULTS</h1>
            <table> 
                <tbody>
                    <tr>
                        {% for  category, classification in classification_result.items() %}
                        {% if classification == 1 %}
                        <td> {{category.replace('_', ' ').title()}} </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>  
        </div>
</div>


</main>

<!-- Footer -->
<footer >
    <div class="container">
        <div class="footer-box">
            <ul>
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/pcmaldonado/Disaster_Response">GitHub Repository</a></li>
            </ul>
        </div>
    </div>
</footer>


</body>
</html>




